// Resets
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

// Layouts
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: block;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.vehicle-listing {
    .col {
        width: (100% / 3);
        display: block;
        @media screen and (max-width: 992px) {
            width: 50%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}
.vehicle-detail {
    .row {
        justify-content: center;
    }
    .col {
        width: 100%;
        display: block;
        max-width: 960px;
    }
}

// Page Styling
img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.card {
    display: block;

    .card-info {

        text-align: center;
        padding: 20px;

        a {
            text-decoration: none;
            color: inherit;
        }
        h2 {
            color: #000000;
            margin: 0 auto;
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            display: inline-block;
            margin: 0 auto;
            padding: 5px 0;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    @media screen and (max-width: 992px) {

    }
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
        flex-wrap: nowrap;
        width: 100%;
        .card-img {
            width: 30%;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
        .card-info {
            text-align: left;
            padding: 10px;
            width: 70%;

            h2 {
                margin: 0 auto;
                border: 0;
                padding: 0;
                font-size: 18px;
            }
            .card-info--price {
                font-size: 14px;
                margin: 10px auto;
                small {
                    font-size: 14px;
                }
            }
            .card-info--detail {
                margin: 0 auto;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }

}

.detail-card {
    display: block;

    .detail-card__info {
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            margin: 0 auto;
            font-size: 30px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        > div {
            padding: 20px;
        }
        > div:first-child {
            width: 75%;
        }
        > div:last-child {
            width: 25%;
            font-size: 30px;
            font-weight: 700;
            text-align: right;
        }
    }
    .detail-card__blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid black;
        margin-bottom: 20px;
        > div {
            border: 1px solid black;
            width: 25%;
            padding: 20px;
        }
        p {
            font-size: 28px;
            font-weight: 700;
            margin: 10px auto 0;
        }
    }

    @media screen and (max-width: 992px) {
        .detail-card__info, .detail-card__blocks  {
            width: calc(100% - 40px);
            margin: 0 auto;
        }
        .detail-card__info {
            > div:first-child {
                width: 70%;
            }
            > div:last-child {
                width: 30%;
            }
        }
        .detail-card__blocks {
            margin-bottom: 20px;
            > div {
                width: 50%;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .detail-card__info {
            > div:first-child {
                width: 100%;
                h1  {
                    margin-top: 0;
                }
                p {
                    margin-bottom: 0;
                }
            }
            > div:last-child {
                width: 100%;
                padding-top: 0;
            }
        }
        .detail-card__blocks {
            > div {
                width: 100%;
            }
        }

    }
}

.nav-back {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}