<template>
  <div class="detail">
    <section class="vehicle-detail">
      <button @click.prevent="goBackHome" class="nav-back">Back</button>
      <div class="container">
        <div class="row">
          <div class="col">
            <VehicleDetail v-bind="selectedCarDetail" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import VehicleDetail from '@/components/VehicleDetail'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'detail',
  components: {
    VehicleDetail
  },
  computed: {
    ...mapGetters([
      'cars'
    ]),
    selectedCarDetail() {
      if (!this.cars) return null;
      const selectedCar = this.cars.find(f => f.id === this.$route.params.id);
      return selectedCar?.detail;
    }
  },
  mounted() {
    this.loadCarDetailsById(this.$route.params.id)
  },
  methods: {
    ...mapActions([
      'loadCarDetailsById'
    ]),
    goBackHome() {
      this.$router.push('/');
    }
  }
}
</script>
