<template>
  <div class="home">
    <section class="vehicle-listing">
      <div class="container">
        <div class="row">
          <div class="col" v-for="car in cars" :key="car.id">
            <VehicleCard v-bind="car" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import VehicleCard from '@/components/VehicleCard'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Home',
  components: {
    VehicleCard
  },
  computed: {
    ...mapGetters([
      'cars'
    ])
  },
  mounted() {
    this.loadCars();
  },
  methods: {
    ...mapActions([
      'loadCars'
    ])
  }
}
</script>
