<template>
    <div class="card">
        <div class="card-img">
            <router-link :to="{ name: 'Detail', params: { id: id }}">
                <img :src="imageUrl" :alt="description">
            </router-link>
        </div>
        <div class="card-info">
            <router-link :to="{ name: 'Detail', params: { id: id }}">
                <h2>{{ id }}</h2>
            </router-link>
            <p class="card-info--price">
                <small>From, {{ price }}</small>
            </p>
            <p class="card-info--detail">
                {{ description }}
            </p>
        </div>
   </div>
</template>

<script>
export default {
  name: 'VehicleCard',
  props: {
    description: String,
    price: String,
    id: String,
    media: Array
  },
  computed: {
    imageUrl() {
        return this.media[0]?.url;
    }
  }
}
</script>
