<template>
  <div class="detail-card">
    <div class="detail-card__img">
      <img :src="vehicleImg" alt="">
    </div>
    <div class="detail-card__info">
      <div>
        <h1>{{ id }}</h1>
        <p>{{ description }}</p>
      </div>
      <div>{{ price }}</div>
    </div>
    <div class="detail-card__blocks" v-if="meta">
      <div>
        <small>Passengers</small>
        <p>{{ meta.passengers }}</p>
      </div>
      <div>
        <small>Drivetrain</small>
        <p>{{ meta.drivetrain | listSplit}}</p>
      </div>
      <div>
        <small>Body Styles</small>
        <p>{{ meta.bodystyles | listSplit}}</p>
      </div>
      <div>
        <small>CO<sup>2</sup> Emissions</small>
        <p>{{ meta.emissions.value }} g/km</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'VehicleDetail',
  props: {
    id: String,
    price: String,
    meta: Object,
    description: String
  },
  computed: {
    ...mapGetters([
      'cars'
    ]),
    vehicleImg() {
      if (!this.cars) return null;
      const car = this.cars.find(f => f.id === this.$route.params.id);
      return car?.media[0]?.url;
    }
  },
  methods: {
    ...mapActions([
      'updateCars'
    ]),
  },
  filters: {
    listSplit(value) {
      return value.join(" / ");
    }
  }
}
</script>
